
<div class="card rounded shadow m-5">
    <div class="d-flex p-4">
        <section class="m-5">
        <img
          src="https://i.pravatar.cc/500?u=clemente.alonzomayorga@peticiones.online"
          class="rounded-circle shadow"
        />
      </section>
      <div class="vertical-line"></div>
      <section class="m-5 d-flex flex-column gap-3">
        <h2>Nombre</h2>
        <h2>Appelidos</h2>
        <div><span class="fw-bold">Nombre Usuario: </span><span>Pepe</span></div>
        <div><span class="fw-bold">Email: </span><span>ffasdasd</span></div>
        <div>
          <a class="btn btn-danger">Eliminar</a>
          <a class="btn btn-danger" [routerLink]="['/updateuser']">Actualizarr</a>
          <a class="btn btn-danger" [routerLink]="['/home']">Volver al listado</a>
        </div>
      </section></div>
  
</div>
