@if(userLoaded){
<section class="row g-3">
      <figure class="col-12 col-md-6 d-flex justify-content-center align-items-center vertical-line">
        <img
          [src]="specificUser.image"
          class="rounded-circle img-fluid"
        />
      </figure>
      <div  class="col-12 col-md-6 mx-auto align-items-center">
        <h2>{{specificUser.first_name}}</h2>
        <h2>{{specificUser.last_name}}</h2>
        <p class="fw-bold fs-4">Nombre Usuario: <span class="fw-normal fs-5">{{specificUser.username}}</span></p>
        <p class="fw-bold fs-4">Email: <span class="fw-normal fs-5">{{specificUser.email}}</span> </p>
        <div  class="col-12 col-md-8 w-100 ">
          <a class="btn btn-danger m-1" (click)="deleteUser(specificUser)">Eliminar</a>
          <a class="btn btn-danger m-1" [routerLink]="['/updateuser',specificUser._id]">Actualizar</a>
          <a class="btn btn-danger m-1" [routerLink]="['/home']">Volver al listado</a>
        </div>
      </div>
</section>
}
  
