
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <div class="d-flex flex-column justify-content-center align-items-center" [routerLink]="['/user']">
            <i class="bi bi-search fs-1"></i>
            <span class="fs-5">Ver detalle</span>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center" [routerLink]="['/updateuser']" >
            <i class="bi bi-arrow-repeat fs-1"></i>
            <span class="fs-5">Actualizar</span>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center" [routerLink]="['/home']">
            <i class="bi bi-trash fs-1"></i>
            <span class="fs-5">Borrar</span>
        </div>
    </div>
</nav>
